{
  "extends": [
    "google",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "semi": "error",
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "array-element-newline": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "max-len": ["error", { 
      "code": 120,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
      "ignoreUrls": true
    }],
    "indent": ["error", 2],
    "no-console": "error",
    "prettier/prettier": "error",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
  }
}