:root {
  --yellow: rgba(255, 198, 0, 1);
  --white: rgba(240, 240, 240, 1);
  --black: rgba(39, 39, 39, 1);
  --red: rgba(250, 40, 30, 0.9);
  --blue: rgb(1, 90, 146);
  --grey: hsl(192, 17%, 99%);
  --blueDimmed: rgb(0, 55, 88);
  --backgroundRed: rgb(222, 65, 48);
  --backgroundRedDimmed: rgb(95, 27, 19);
}

textarea, pre, input {
  font-family: "Consolas", "Menlo", "Courier", monospace;
}

/* Container */

#ast-repl {
  display: flex;
  flex-direction: column
}

#repl-container {
  display: flex;
}

.label {
  align-self: center;
  font-size: 14px;
  margin-bottom: 2px;
  /* color: var(--yellow); */
  color: var(--grey);
}
/* Console */

#console-display {
  width: 100%;
  min-width: calc(96vw/3);
  height: 32vh;
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  transition: border 0.3s cubic-bezier(1,0.66,.79,1),
              color 0.3s cubic-bezier(1,0.66,.79,1);
}

#console-display span {
  align-self: center;
}

#console-source {
  height: 100%;
  width: 100%;
  resize: none;
  font-size: 14px;
  background-color: inherit;
  color: var(--grey);
  border: none;
}

#console-source {
  outline: none;
}

/* AST Display */

#query-tree-display {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: calc(96vw/3);
  height: 32vh;
  margin: 12px 0 0 6px;
  background-color: var(--blue);
}

/* Output Display */

#output-ast-container {
  display: flex;
  flex-direction: column;
  height: calc(32vh * 2 + 12px);
  width: 100%;
  margin: 0 16px;
  background-color: var(--blue);
}

#output-display {
  display: flex;
  flex-direction: column;
}

/* Selector */

#github-logo {
  margin-top: 6px;
  border-radius: 18px;
  height: 28px;
}

#github-logo:hover {
  background: var(--backgroundRedDimmed);
}

#selectorDisplay .label {
  color: var(--yellow);
  transition: border 0.3s cubic-bezier(1,0.66,.79,1),
              color 0.3s cubic-bezier(1,0.66,.79,1);
}

#selector {
  width: 100%;
  height: 3.5em;
  min-height: 2.2em;
  margin-bottom: 20px;
  padding: 6px 0 0 6px;
  background-color: var(--blue);
  color: var(--yellow);
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  resize: vertical;
  outline: none;
  border: none;
}