:root {
  --yellow: rgba(255, 198, 0, 1);
  --white: rgba(240, 240, 240, 1);
  --black: rgba(39, 39, 39, 1);
  --red: rgba(250, 40, 30, 0.9);
  --blue: rgb(1, 90, 146);
  --grey: hsl(192, 17%, 99%);
  --blueDimmed: rgb(0, 55, 88);
  --backgroundRed: rgb(222, 65, 48);
  --backgroundRedDimmed: rgb(95, 27, 19);
}

textarea, pre, input {
  font-family: "Inconsolata", "Menlo", "Courier", monospace;
  font-size: 18px;
  overflow: auto;
}

/* Container */

#ast-repl {
  display: flex;
  flex-direction: column
}

#repl-container {
  display: flex;
}

.label {
  align-self: center;
  font-size: 14px;
  margin-bottom: 2px;
  color: var(--grey);
}
/* Console */

#console-display {
  width: 100%;
  min-width: calc(96vw/3);
  height: 32vh;
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  transition: border 0.3s cubic-bezier(1,0.66,.79,1),
              color 0.3s cubic-bezier(1,0.66,.79,1);
}

#console-display.highlight {
  border-color: rgb(252, 154, 154);
}

#console-display .label.highlight {
  color: rgb(252, 154, 154);
}

#console-display span {
  align-self: center;
}

#console-source {
  height: 100%;
  width: 100%;
  resize: none;
  font-size: 14px;
  background-color: inherit;
  color: var(--grey);
  border: none;
  outline: none;
}


#console-source.highlight {
  color: rgb(252, 154, 154);
  caret-color: rgb(165, 90, 250);
}


/* AST Display */

#query-tree-display {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: calc(96vw/3);
  height: 32vh;
  margin: 12px 0 0 6px;
  background-color: var(--blue);
}

/* Output Display */

#output-ast-container {
  display: flex;
  flex-direction: column;
  height: calc(32vh * 2 + 12px);
  width: 100%;
  margin: 0 16px;
  background-color: var(--blue);
  overflow: auto;
}

#output-display {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

/* Copy Button */

#copy-button {
  position: relative;
  bottom: 3px;
  height: 2.5em;
  padding: 0 10px 2px;
  margin-right: 2vw;
  font-weight: bold;
  font-size: 0.6em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(7, 136, 138);
  border: 4px solid rgb(34, 41, 45);
  border-top: 2px solid rgb(34, 41, 45);
  border-bottom: 2px solid rgb(34, 41, 45);
  border-radius: 5px;
  background-color: rgb(22, 25, 31);
  outline: none;
  cursor: pointer;
  transition: 0.3s cubic-bezier(1,0.66,.79,1);
}

#copy-button:hover {
  color: rgb(105, 249, 198);
  background-color: rgb(34, 41, 45);
}

#copy-button.highlight {
  color: rgb(105, 249, 198);
  border-color: rgb(15, 220, 148);
  transform: scale(0.95);
}

*.highlight {
  transition: 0.3s cubic-bezier(1,0.66,.79,1.88);
}

#copy-message {
  display: none;
  position: absolute;
  top: 60px;
  left: 30vw;
  color: rgb(7, 136, 138);
  width: 25%;
}

#copy-message.show {
  display: initial;
  opacity: 0;
  animation: 1.2s fadeUp ease-in;
}

/* Selector */

#github-logo {
  margin-top: 6px;
  border-radius: 18px;
  height: 28px;
}

#github-logo:hover {
  background: var(--backgroundRedDimmed);
}

#selector-display .label {
  color: var(--yellow);
  transition: border 0.3s cubic-bezier(1,0.66,.79,1),
              color 0.3s cubic-bezier(1,0.66,.79,1);
}

#selector {
  width: 100%;
  height: 3.5em;
  min-height: 2.2em;
  margin-bottom: 20px;
  padding: 6px 0 0 6px;
  background-color: var(--blue);
  color: var(--grey);
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  resize: vertical;
  outline: none;
  border: none;
}

#selector-display .highlight {
  color: rgb(105, 249, 198);
}

#selector.highlight {
  color: var(--yellow);
}

/* Other */

@keyframes fadeUp {
  0% {
    opacity: 0.25;
  }
  25%, 60% {
    top: 24px;
    opacity: 1;
  }
  100% {
    top: -70px;
    opacity: 0;
  }
}
