:root {
  --yellow: rgba(255, 198, 0, 1);
  --white: rgba(240, 240, 240, 1);
  --black: rgba(39, 39, 39, 1);
  --red: rgba(250, 40, 30, 0.9);
  --blue: rgb(1, 90, 146);
  --blueDimmed: rgb(0, 55, 88);
  --backgroundRed: rgb(222, 65, 48);
  --backgroundRedDimmed: rgb(95, 27, 19);
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  text-shadow: 0 2px 0 rbga(0, 0, 0, 0.1);
}

body {
  display: grid;
  margin: 22px;
  grid-template: 
                "header header header"
                "console output output"
                "query query query";
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  grid-template-rows: auto auto 1fr;
  row-gap: 12px;
}

textarea, pre, input {
  font-family: "Consolas", "Menlo", "Courier", monospace;
  padding-left: 6px;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner, #banner {
  color: var(--black);
  font-size: 24px;
}

.console {
  height: 60vh;
  min-height: 300px;
  min-width: 300px;
  border: 1px solid var(--black);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

#console-display {
  grid-area: console;
}

#output-display {
  display: flex;
  flex-direction: column;
}

#output-title {
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

}

.label {
  font-size: 12px;
  align-self: center;
  margin-bottom: 12px;
}

#console-display textarea {
  height: 96%;
  margin-bottom: 6px;
  overflow: scroll;
  resize: none;
  border: none;
  outline: none;
}

#output-ast-container {
  grid-area: output;
  overflow: scroll;
}

#selector-display {
  grid-area: query;
  display: flex;
  flex-direction: column;
}

/* #selector-display .spread {
  display: flex;
  justify-content: center;
} */

#results {
  margin-left: 24px;
}

#selector {
  height: 3.5em;
  min-height: 2.6em;
  margin-bottom: 20px;
  padding: 8px 0 0 8px;
  border: 1px solid var(--black);
  border-radius: 5px;
  resize: vertical;
  outline: none;
}

#copy-button {
  position: relative;
  bottom: 3px;
  height: 3em;
  width: 6em;
  padding: 0 10px 2px;
  margin-right: 12px;
  font-weight: bold;
  border: 1px solid var(--black);
  border-radius: 5px;
  outline: none;
  transition: 0.1s cubic-bezier(1,0.66,.79,1);
  cursor: pointer;
}

#copy-button:active {
  background-color: rgb(236, 236, 236);
  transform: translateY(2px);
}

#copy-message {
  display: none;
}

#copy-message.show {
  display: inline;
}